:root {
    --font-size-16: 1rem;
    --font-size-32: 2rem;

    --font-weight-400: 400;
    --font-weight-700: 700;

    --grey: hsl(0, 0%, 58%);

    --white: hsl(0, 0%, 100%);

    --red: hsl(4, 100%, 67%);
    --green: hsl(106, 100%, 78%);

    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);

    --spacing-sm: 0.875rem;
    --spacing-md: 1.475rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-800);
    min-block-size: 100vh;
    font-size: var(--font-size-16);
    background-color: var(--blue-700);
}

h1,
h2 {
    text-transform: capitalize;
    font-weight: var(--font-weight-700);
}

h1 {
    font-size: var(--font-size-32);
    margin-block: var(--spacing-md);
    color: var(--white);
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.card {
    padding: var(--spacing-sm);
    background-color: var(--white);
    border-radius: var(--spacing-md);
}

.book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
}

.btn {
    box-shadow: 10px 5px 5px var(--grey);
    padding: var(--spacing-sm);
    border-radius: var(--spacing-sm);
    background-color: var(--red);
    color: var(--white);
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    box-shadow: 2px 2px 2px var(--blue-800);
}

.btn.active {
    background-color: var(--green);
}

.error {
    color: var(--red);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}